[submodule "bisq"]
	path = bisq
	url = https://github.com/bisq-network/bisq.git
[submodule "bisq-gradle"]
	path = bisq-gradle
	url = https://github.com/ghubstan/bisq-post-assemble-plugin.git
	branch = convert_to_standalone_plugin
